.section img {max-width:600px; width:100%; display:block; margin:auto; border-radius:14px;}
.section h3 {color:var(--primary-color); margin-top:20px;}
.section ul {margin-left:20px; list-style: disc;}
